<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pagina de Contactos</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

    <h1>Vida universitaria - La Ceiba </h1>
    <div class="col-lg-12 text-center">
      <img src="/img/campus.jpg" class="w-auto animated bounceIn" alt="Imagen Principal" align=”middle”>
    </div>
  <p></p>
    <h3>Dirección: Carretera a Trujillo, La Ceiba</h3> </p>


    <% include partials/footer %>
  </body>
</html>
