<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pagina de Contactos</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

    <div class="container p-5">
      <div class="row">
        <div class="col-sm-4 offset-md-4">
          <div class="card animated flipInY">
            <div class="card-header bg-dark text-white text-center">
              <h3>Contactanos</h3>
            </div>
            <div class="card-body">
              <form action="">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Email">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Asunto">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="" cols="30" rows="10" placeholder="Mensaje dirigido a Yermin Barrientos"></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">
                    Enviar
                  </button>
                </div>
              </form>    
            </div>
          </div>
        </div>
      </div>
    </div>
    <p></p>
    <h3>Horario Lunes a Viernes 7:00-21:00</h3> 
    <h3>Tambien escribenos al 9693-7443</h3></p>

    <% include partials/footer %>
  </body>
</html>
