<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CEUTEC</title>
    <% include partials/head %>
  </head>
  <body>
    <!-- HEADER -->
    <% include partials/navigation %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <header class="row">
        <div class="col-lg-12 text-center">
        <img src="/img/imagen_principal.png" class="w-auto animated bounceIn" alt="Imagen Principal" align=”middle”>
        </div>
      </header>
    </div>
    <p></p>
    <h3>Retemos en Futuro</h3> 
    <h3>#YoDesdeCasa pienso en Honduras</h3> 
    <h4>Ante la emergencia por la propagación del COVID-19 en el país, en UNITEC y CEUTEC hemos lanzado esta campaña con el fin de mantener informada a nuestra comunidad sobre medidas de protección e información relevante sobre el tema</h4> 

    <!-- section one -->
    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
          <img src="/img/Ceutec.png" width="210" height="150">
        </div>
        <div class="col-sm-6">
          <h3>Buscanos en Youtuber</h3>
          <p>
            <a href="https://www.youtube.com/channel/UCnwiCpx9iPgV6RtIo3WtumQ">Click Aqui</a>
            <span>Esforzarte, trabajar y luchar por tus sueños, es hacer la diferencia.</span>
          </p>
        </div>
      </div>
    </div>

    <p></p>

    <% include partials/footer %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
